{% extends 'base.html' %} {% block settings %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'settings' %}">Settings</a>
    <span class="sr-only">(current)</span>
</li>
{% endblock %}
{%block title%} Cashier Transaction {%endblock%}
{%load static%} {% block content %}
<div class="content-heading margin">
<form action="" class="heading-label">
    <div class="row">
    <div class="col-md-8">
        <div class="card">
        <div class="card-header link">
            Payment Details
        </div>
        <div class="card-body" id="paymentsPanel">
            <div class="row margin">
            <div class="col-md-8">
                <div class="heading">
                <label>Choose transaction:</label>
                </div>
                <div class="btn-group btn-group-sm transactions" role="group" aria-label="Choose Transaction">
                <button type="button" class="btn btn-secondary active" id="enrollmentBtn">Enrollment</button>
                <button type="button" class="btn btn-secondary" id="othersBtn">Others</button>
                </div>
            </div>
            <div class="col-md-2">
                <button type="button" id="btn-add" onclick="add()" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Payment</button>
                <button type="button" id="btn-add-particular" onclick="addParticular()" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>
            </div>
            </div>
            <!-- ENROLLMENT -->
            <div class="enrollmentPayment">
            <div class="row payment">
                <div class="col">
                <h5 class="payment-heading">Payment Details #<span class="count">1</span></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <label class="card-subtitle">Particular:</label>
                <select class="custom-select btn-block" id="particularList" required>
                    <option selected>Choose particular:</option>
                    <option value="EnrollmentFee">Enrollment Fee</option>
                    <option value="TuitionFee">Tuition Fee</option>
                </select>
                </div>
                <div class="col-md-6">
                <div class="details">
                    <label class="card-subtitle">Month:</label>  
                    <select class="custom-select btn-block" required>  
                    <option selected>Choose payment month:</option>  
                    <option value="January">January</option>  
                    <option value="February">February</option>  
                    <option value="March">March</option></select>
                </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                <div class="tuitionPayment">
                    <label class="card-subtitle">Amount:</label>  
                    <input type="text" class="form-control">
                </div>
                </div>
            </div>
            <div class="row" id="paymentTypeRow">
                <div class="col-md-6">
                <div id="paymentTypeInput">
                    <label class="card-subtitle">Payment Type:</label>
                    <select class="custom-select btn-block" id="paymentType" required>
                        <option selected>Choose payment type:</option>
                        <option value="Full">Full Payment</option>
                        <option value="Partial">Partial Payment</option>
                        <!-- `Full` here refers to paying the whole SY's balance.
                            while `partial` refers to downpayment -->
                    </select>
                </div> 
                </div>
                <div class="col-md-6">
                <div class="partial"> 
                    <label class="card-subtitle">Amount:</label>  
                    <input type="text" class="form-control">
                </div>
                </div>
            </div>
            </div>
            <!-- OTHERS -->
            <div class="othersPayment">
            <div class="addParticularPayment">
                <div class="row">
                <div class="col-md-6">
                    <label class="card-subtitle">Particular Name:</label>
                    <select class="custom-select btn-block" id="feesParticularList" required>
                    <option selected>Choose particular:</option>
                    <option value="1">Form 137</option>
                    <option value="2">Diploma</option>
                    <option value="3">Certificate</option>
                    <option value="4">Entrance Test</option>
                    <option value="5">Identification Card</option>
                    <option value="6">Uniform</option>
                    <option value="7">Books</option>
                    <option value="others">Others</option>
                    </select>
                    <!-- is only saved in the student's payment transaction logs, but object is not saved in the database-->
                    <!-- DATA GENERATED FROM FEES AND ACCOUNTS TABLE VALUES -->
                    <!-- MODAL appears if others is selected -->
                    <div class="modal" tabindex="-1" role="dialog" id="othersModal">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Item details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                            <div class="col">
                                <label>Specific Name:</label>
                                <input type="text" class="form-control" id="particularName"/>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col">
                                <label>Price Amount:</label>
                                <input type="text" class="form-control" id="priceAmount"/>
                            </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Save Item</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="others">
                    <label class="card-subtitle">Specify:</label>  
                    <h3 class="link">Level 3 Backpack</h3>  
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-danger btn-sm" onclick="deleteParticularRow(this)">Remove</button>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <label class="card-subtitle">Price Amount:</label>
                    <h2 class="link"><span class="currency"> 0.00</span></h2>
                    <!-- corresponds to the user input
                        and/or the undocumented particular (others) -->
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="col-md-4 payment-summary">
            
    </div>
    </div>
</form>
</div>

{# BACKEND SCRIPTS #}
<script>
$(function(){
    //Some delay because cannot point to a non existent class(coz ajax has delay lol)
    generateSummaryCard();
    setTimeout(function(){ init(); }, 100);
});

function generateSummaryCard(){
    $.ajax({
        url: '{% url "payment-summary" registration.enrollment_ID %}',
        type: 'get',
        dataType: 'json',
        success: function (data) {
          $(".payment-summary").html(data.html_form);
        }
    });
    
    
}
$("#particularList").change(function(){
    /*var month= '<div class="details">'+
        '<label class="card-subtitle">Month:</label>'+
        '<select class="custom-select btn-block" required>'+
        '<option selected>Choose payment month:</option>'+
        '<option value="January">January</option>'+
        '<option value="February">February</option>'+
        '<option value="March">March</option></select></div>';*/
        
    if ($(this).val() != "TuitionFee"){
        //Do Enrollment Fee Forms
    }
    else{
        //Do Tuition Fee Forms
    }
  });
</script>

{%endblock%}