<div class="container-fluid bg-dashboard">
    <div class="content container">
        <div class="content-heading margin">
            <div class="titlehead">
                <h1 class="text-center"> Maryknoll Academy of Cateel</h1>
            </div>
            <div class="link uppercase text-center">
                <h4 class="subtitle">Dashboard</h4>
            </div>
            <div class="subtitle-border"></div>
        </div>
        <div class="quick-links">
            <div class="row">
                <div class="col quick-links-item">
                    <button class="btn-links" onclick="location.href='{% url 'student-list' %}'">
                        <i class="icon-people quick-links-icons"></i>
                        <h4 class="uppercase"> Students </h4>
                    </button>
                </div>
                <div class="col quick-links-item">
                    <button class="btn-links" onclick="location.href='{% url 'employee-list' %}'">
                        <i class="icon-people quick-links-icons"></i>
                        <h4 class="uppercase"> Employees </h4>
                    </button>
                </div>
                <div class="col quick-links-item">
                    <button class="btn-links" onclick="location.href='users-list.html'">
                        <i class="icon-people quick-links-icons"></i>
                        <h4 class="uppercase"> System Users </h4>
                    </button>
                </div>
            </div>
        </div>
        <div class="quick-links">
            <div class="row">
                <div class="col quick-links-item">
                    <button class="btn-links" onclick="location.href='student-registration-list.html'">
                        <i class="icon-chart quick-links-icons"></i>
                        <h4 class="uppercase"> Daily Cash Report </h4>
                    </button>
                </div>
                <div class="col quick-links-item">
                    <button class="btn-links" onclick="location.href='employee-list.html'">
                        <i class="icon-chart quick-links-icons"></i>
                        <h4 class="uppercase"> Daily Enrollees Report </h4>
                    </button>
                </div>
                <div class="col quick-links-item">
                    <button class="btn-links" onclick="location.href='users-list.html'">
                        <i class="icon-chart quick-links-icons"></i>
                        <h4 class="uppercase"> Money Something </h4>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>