<table class="table table-bordered bg-nav table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Employee Type</th>
      <th scope="col">Work Type</th>
      <th scope="col">Employee Status</th>
      <th scope="col" class="no-print">Actions</th>
    </tr>
  </thead>
  <tbody>
    {%for emp in employee_list%}
    <tr>
      <td>{{emp.last_name}}, {{emp.first_name}}</td>
      <td>{{emp.get_emp_type_display}}</td>
      <td>{{emp.get_work_type_display}}</td>
      <td><i class="fa fa-circle 
                  {%if emp.emp_status == " a "%}
                      active-status">
                      </i> Active</td>
      {%else%} inactive-status">
      </i> Inactive</td>
      {%endif%}
      <td class="no-print text-center">
        <a href="#" class="btn btn-success btn-sm view-button">View</a>
        <a href="{% url 'employee-update' pk=emp.employee_ID %}" class="btn btn-secondary btn-sm view-button">Edit</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No Employee</td>
    </tr>
    {%endfor%}

  </tbody>
</table>