{% extends 'base.html' %} {% block settings %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'settings' %}">Settings</a>
    <span class="sr-only">(current)</span>
</li>
{%block title%} Cashier Settings {%endblock%}
{% endblock %} {%load static%} {% block content %}
<div class="container-fluid bg-content wrapper">
  <div class="content">
    <div class="content-heading margin">
      <h1> Cashier Functionalities </h1>
    </div>

    <div class="row row-menu">
      <div class="col-lg-4">
        <h3 class="link"> Fees and Accounts </h3>
        <a href="cashier-fees-and-accounts.html" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Fees and Accounts </a>
      </div>
    </div>

    <div class="row row-menu">
      <div class="col-lg-4">
        <h3 class="link"> Promissory Note Request</h3>
        <a href="cashier-promissory-list.html" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Promissory Note Requests</a> <br/>
      </div>
    </div>

    <div class="row row-menu">
      <div class="col-lg-4">
        <h3 class="link"> Scholarships </h3>
        <a href="scholarship-list.html" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Scholarship List </a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
