{% extends 'base.html' %} {% block settings %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'dashboard' %}">Settings</a>
<span class="sr-only">(current)</span>
{% endblock %} {%load static%} {% block content %}
<!-- CONTENT -->
<div class="seal"></div>
        <h2> Fees and Accounts List </h2>
        <div class="menu-flex search-bar no-print">
            <div class="flex-search">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button id="selected" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Category
                        </button>
                        <!-- Supply dropdown menu categories, refer to database -->
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">All categories</a>
                        <a class="dropdown-item" href="#">Payable Name</a>
                        <a class="dropdown-item" href="#">Year Level</a>
                        </div>
                    </div> 
                <input type="text" class="changeIfStatus form-control" placeholder="Search records..." aria-label="Search records...">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary">Search</button>
                </span>
                </div>
            </div>
            <div class="flex-print">
                <a href="javascript:window.print()" class="card-link btn btn-outline-primary"><i class="fa fa-print" aria-hidden="true"></i> Print Fees and Accounts</a>
                <a href="{%url 'fees-and-accounts-add' %}" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> Create New Payable</a>          
            </div>
        </div>
        <div class="row table-records table-responsive">
        </div>
      </div>
    </div>
  <!-- CONTENT -->
  <!-- Allows dropdown menu to select child -->
  <script>
    $(function () {


      $.ajax({
        url: '{% url "table-fees-and-accounts" %}',
        type: 'get',
        dataType: 'json',
        success: function (data) {
          $(".table-records").html(data.html_form);
        }
      });

      $(".dropdown-menu a").click(function () {

        $("#selected:first-child").text($(this).text());
        $("#selected:first-child").val($(this).text());
        if ($("#selected:first-child").val() == "Status") {
          $(".changeIfStatus").replaceWith("<h1> test </h1>"); // must change into dropdown
        }
        else {

        }

      });

    });
  </script> {%endblock%}