<div class="container-fluid bg-content">
    <div class="content container">
        <form class="heading-label">
            <div class="row">
                <div class="col-md-4">
                    <label>Scholarship Name:</label>
                    <select class="custom-select btn-block" required>
                        <option selected>Choose a scholarship name..</option>
                        <option value="1">ESC</option>
                        <option value="2">Voucher</option>
                        <option value="3">Others</option>
                        <!-- Values should be from the database ScholarshipsID(?) -->
                    </select>
                </div>
            </div>
            <div class="btn-forms" style="display: flex; justify-content: flex-end">
                <a href="student-profile.html" class="btn btn-link">Cancel</a>
                <a href="#" class="btn btn-primary ">
                    <i class="fa fa-check-circle" aria-hidden="true"></i> Save Scholarship to Student</a>
            </div>
        </form>
    </div>
</div>