{% extends 'base.html' %}
{%block title%} Admin Settings {%endblock%}
{% block settings %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'settings' %}">Settings
        <span class="sr-only">(current)</span>
    </a>
</li>
{% endblock %} {%load static%} {% block content %}
<div class="container-fluid bg-content">
    <div class="content container">
      <div class="seal"></div>
      <div class="row">
        <!--<div class="col-md-6">
          <a href="student-registration-list.html" class="no-print">
            <h4><i class="fa fa-angle-left" aria-hidden="true"></i> Back to records list</h4>
          </a>
        </div>-->
        <div class="col-md-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{# admin dashboard link #}">Home</a></li>
              <li class="breadcrumb-item"><a href="{%url 'student-list' %}">Student Profiles</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{student.first_name}} {{student.middle_name}} {{student.last_name}}</li>
            </ol>
          </nav>
        </div>      
      </div>
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-md-12">
              <div class="row menu-flex">
                <div class="col-md-8">
                  <h1 class="card-title">{{student.first_name}} {{student.middle_name}} {{student.last_name}}</h1>
                </div>
                <div class="col-md-4 line-break no-print">
                  <a href="javascript:window.print()" class="card-link btn btn-outline-primary line-break-child"><i class="fa fa-print" aria-hidden="true"></i> Print Student Profile</a>
                  <a href="student-registration-list-add.html" class="btn btn-secondary view-button">Edit</a></td>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="card-subtitle mb-2 link">Student ID: <span class="text-muted">{{student.student_ID}}</span></h6>
                  <h6 class="card-subtitle link mb-2 ">Student Level:<span class="text-muted"> {{student.get_student_level_display}}</span></h6>
                  <h6 class="card-subtitle link mb-2 ">Year Level/Section:<span class="text-muted"> {# current section #}</span></h6>
                  <h6 class="card-subtitle mb-2 link">Place of Birth: <span class=" text-muted">{{student.birthplace}}</span></h6>
                  <h6 class="card-subtitle link mb-2 ">Date of Birth: <span class="text-muted">{{student.birthdate}}</span></h6>
                </div>
                <div class="col-sm-4 no-print">
                  <h6 class="card-subtitle link mb-2 ">Sex: <span class="text-muted"> {{student.gender}}</span></h6>
                  <h6 class="card-subtitle link mb-2 ">Home Address: <span class="text-muted"> {{student.home_addr}}</span></h6>
                  <h6 class="card-subtitle link mb-2 ">Postal Address: <span class="text-muted"> {{student.postal_addr}}</span></h6>
                </div>
                <div class="col-md-4 no-print">
                  <h6 class="card-subtitle link mb-2 ">Father's Name: <span class="text-muted"> {{student.f_firstname}} {{student.f_lastname}}</span></h6>
                  <h6 class="card-subtitle link mb-2 ">Mother's Name: <span class="text-muted"> {{student.m_firstname}} {{student.m_lastname}}</span></h6>
                  <h6 class="card-subtitle link mb-2 ">Guardian's Name: <span class="text-muted"> {{student.guardian}}</span></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row table-records table-responsive">
            <ul class="nav nav-tabs no-print">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#studentRegis">Registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#studentAcc">Financial Records</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#studentClasses">Subjects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#studentLedger">Ledger</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#studentScholarships">Scholarships</a>
              </li>
            </ul>
            <div class="tab-content">
              <!-- STUDENT REGISTRATION -->
              <div class="tab-pane active container" id="studentRegis">
                <div class="row records">
                  <div class="col-md-8 no-print">
                    <h2>Student Registration</h2>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group float-right no-print">
                      <a href="{% url 'enrollment-add' student.student_ID%}" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> Create Student Registration</a>
                    </div>
                  </div>
                </div>
                <div class="row table-records table-responsive enrollment-table">
                  REGISTRATION LIST GOES HERE
                </div>
              </div>
              <!-- STUDENT REGISTRATION -->
              <!-- FINANCIAL RECORDS -->
              <div class="tab-pane container" id="studentAcc">
                
              </div>
              <!-- FINANCIAL RECORDS -->
              <!-- SUBJECTS TAKEN -->
              <div class="tab-pane container" id="studentClasses">
                <div class="row records">
                  <div class="col-md-8 no-print">
                    <h2>Subjects</h2>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group float-right no-print">
                      <a href="schoolyear-list-2.html" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> View Offerings</a>
                    </div>
                  </div>
                </div>
                <div class="row table-records table-responsive">
                  <table class="table table-bordered bg-nav table-hover">
                    <thead class="thead-light">
                      <tr>
                        <!-- Refer to database for headings -->
                        <th scope="col">Offering Code</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Teacher Assigned</th>
                        <th scope="col">Schedule</th>
                        <th scope="col">Room</th>
                        <th scope="col" class="no-print">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>10-300</td>
                        <td>Marxism IV</td>
                        <td>Boop, Mr. Boop of Commie Land</td>
                        <td>8:00-9:00 AM</td>
                        <td>F900</td>
                        <td class="no-print text-center delete-btn">
                          <button type="button" class="btn btn-danger" onclick="deleteRow(this)">Drop</button>
                      </tr>
                      <tr>
                        <td>10-308</td>
                        <td>Communism IV</td>
                        <td>Zedong, Chairman Mao</td>
                        <td>1:00-8:00 PM</td>
                        <td>C704</td>
                        <td class="text-center no-print delete-btn">
                          <button type="button" class="btn btn-danger" onclick="deleteRow(this)">Drop</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane container" id="studentLedger">
                
              </div>
              <div class="tab-pane container" id="studentScholarships">
                <div class="row records">
                  <div class="col-md-8 no-print">
                    <h2>Scholarships</h2>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-group float-right no-print">
                      <a href="{% url 'student-scholars-add' student.student_ID%}" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> Add Scholarship</a>
                    </div>
                  </div>
                </div>
                <div class="row table-records table-responsive scholarship-table">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- CONTENT -->
  
  <script type="text/javascript">
    function deleteRow(obj, num){
      $(obj).closest('tr').remove();
      $.ajax({
        url: '{% url "delete-scholar" %}?scholar='+num,
        type: 'get',
        dataType: 'json',
        success: function(data) {
          generateScholarTable();
        }
      });
    }
  </script>


{#---------------------------BACKEND SCRIPTS -------------------------------#}

<script>
  $(function() {
    generateStudentTable();
    generateScholarTable();
  });

  function generateStudentTable(){
    $.ajax({
      url: '{% url "enrollment-table" student.student_ID %}',
      type: 'get',
      dataType: 'json',
      success: function(data) {
        $(".enrollment-table").html(data.html_form);
      }
    });
  }

  function generateScholarTable(){
    $.ajax({
      url: '{% url "student-scholars-table" student.student_ID %}',
      type: 'get',
      dataType: 'json',
      success: function(data) {
        $(".scholarship-table").html(data.html_form);
      }
    });
  }
</script>
{%endblock%}
