html{
	font-family: Helvetica, sans-serif;
}
h1{
	font-size: 29px;
}
h2, .student-count{
	font-size: 24px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 16px;
}
h5, p{
	font-size: 14px;
}
button, a{
	border:0;
	cursor: pointer;
}
nav{
	padding-bottom:0 !important;
}
nav .active-menu{
	padding-bottom: 10px !important;
}
/* index.html */
.container{
	display: flex;
    flex-flow: row wrap;
    -webkit-justify-content: center;
	justify-content: center;
	background-color: #FFFFFF;
	padding-top: 50px;
}
/*.logo-container{
	margin-bottom: 10px;
}*/
.form-container {
  background-color: #FFFFFF;
  padding-top: 20px !important;
  display: flex;
  flex-flow: row wrap;
  -webkit-justify-content: center;
          justify-content: center;
}
.container > .title{
	color: #121774;
	margin-left: 25px;
	text-transform: uppercase;
	order: 0;
	font-weight: bold;
}
.form-input{
	background: #F4F4F4;
	box-shadow: 0 2px 25px 0 #C2E1EE;
	border-radius: 26px;
	width: 413px;
	height: 375px;
	position:relative;
}
.btn-login{
	background: #4285F4;
	text-transform: uppercase;
	border-radius: 0 0 26px 26px;
	width:413px;
	height:80px;
	position:absolute;
	bottom:0;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.btn-login:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.btn-login > h3{
	text-shadow: 0 2px 6px rgba(0,0,0,0.15);
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.05px;
	margin: 28px 160px;
}
.form-login{
	padding:28px;
}
.input-login{
	background: #F7F8F9;
	border: 1px solid rgba(122,134,154,0.39);
	border-radius: 8px;
	width: 359px;
	height: 50px;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.placeholder{
	color: #A4A4A4;
	letter-spacing: 0;
	margin-top: 10px;
}
#forgot-user{
	font-size: 14px;
	color: #4285F4;
	letter-spacing: 0.5px;
	text-align: center;
	margin-top: 30px;
	font-weight: 100;
}


/* dashboard template*/
.active-menu{
	border-bottom: 3px solid #4688F1;
    color: #4688F1;
    padding-bottom:1px;
    font-color: #4688F1 ;
}
.btn-logout{
	margin-left: 20px;
	background: #4285F4;
	/* Circle */
	/*border-radius: 60px;*/
	width: 100px;
	height: 40px;
	color: #FFFFFF;
	transition: all 0.5s;
	padding: 10px;
	/* Rectangle: */
	background: #4285F4;
	border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.btn-logout:hover {
  background: #CF4647;
}
.bg-nav{
	background-color: #FFFFFF !important;
}
.bg-content{
	background-color: #F8FAFF;
	/*background-color: #f2f2f2;*/
}
.content{
	padding: 40px;
}
.btn-links{
	width: 300px;
	height: 160px;
	/*background: #F6F6F6;
	border-radius: 5px;
	border: 1px solid #D2D2D2;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.08);*/
	margin-top: 30px;
	background: #132B51;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.08);
	border-radius: 5px;
	padding: 30px;
}
.announcements{
	width: 300px;
	height: 500px;
	background: #FFFFFF;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.08);
	float: right;
	margin-top: 30px;
}
.content-heading{
	color: #A4A4A4;
	letter-spacing: 0;
}
.content-heading h1{
	margin-bottom: 0;
}
.content-heading h4{
	padding-top: 0;
}
.quick-links-icons{
	font-size: 60px;
	color: #4688F1;
}
.quick-links h4{
	color: #FFFFFF;
	margin-top: 20px;
}
.quick-links h3{
	margin-top: 40px;
	margin-left: 20px;
	color: #A4A4A4;
}
.btn-links:hover {
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* Financial Records */
.table-records{
	padding-left: 15px;
	margin-top: 30px;
}
.active-status{
	margin-right: 3px;
    font-size: 10px;
    color: #36B37E;
}
.inactive-status{
	margin-right: 3px;
    font-size: 10px;
    color: #DE350A;
}
.table-records tr:hover{
	cursor: pointer;
}
.add-button,.print{
	margin-right: 15px;
}
.view-button{
	width: 100px !important;
}
.modal-body label, .heading-label label{
	font-weight: bold;
	color: #7A869A;
	margin-top: 10px;
}

/* USER RECORD */
.card{
	padding: 30px;
}
.records{
	margin-top: 30px;
}
.link{
	color: #000000;
}
.modal{
	box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24) !important;
}

/* SETTINGS */
.grey{
	color: #777777;
}
.row-menu{
	margin-bottom: 20px;
}
.margin{
	margin-bottom: 30px;
}

/* Student Profile */
.sm-headings{
	margin-top: 20px;
	font-weight: bold;
}
.profile-picture {
	margin-top: 0 !important;
	font-weight: normal !important;
}
.custom-file-input{
	cursor: pointer;
}
.date-padding-reset{
	padding-left: 0 !important;
}
.pagination{
	justify-content: center;
}

/* SECTION LIST */
.card-shadow{
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
.card{
	margin-top: 20px;
}

/* SCHOOL YEAR LIST */
.btn-long-text{
	white-space:normal !important;
    max-width:200px;
    word-wrap:break-word;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

/* USERS LIST ADD */
.btn-forms{
	margin: 20px;
}
.reset-password-btn{
	font-weight: bold;
	color: #007bff !important;
	margin-left: 10px;
}
