html{
	font-family: Helvetica, sans-serif;
}
h1{
	font-size: 29px;
}
h2, .student-count{
	font-size: 24px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 16px;
}
h5, p{
	font-size: 14px;
}
button, a{
	border:0;
	cursor: pointer;
}

/* index.html */
.index-container{
	display: flex;
  	flex-flow: row wrap;
  	-webkit-justify-content: center;
          justify-content: center;
    padding-bottom: 20px;
    padding-top: 50px;
}
.form-container {
  background-color: #FFFFFF;
  padding-top: 20px !important;
  display: flex;
  flex-flow: row wrap;
  -webkit-justify-content: center;
          justify-content: center;
}
.title{
	color: #121774;
	margin-left: 25px;
	text-transform: uppercase;
	order: 0;
	font-weight: bold;
}
.form-input{
	background: #f3f3f3;
	/*box-shadow: 0 2px 25px 0 #C2E1EE;*/
	border-radius: 26px;
	width: 413px;
	height: 375px;
	position:relative;
}
.btn-login{
	background: #4285F4;
	text-transform: uppercase;
	border-radius: 0 0 26px 26px;
	width:413px;
	height:80px;
	position:absolute;
	bottom:0;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none !important;
}
.btn-login:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}
.btn-login > h3{
	text-shadow: 0 2px 6px rgba(0,0,0,0.15);
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.05px;
	margin: 28px 160px;
}
.form-login{
	padding:28px;
}
.input-login{
	background: #ffffff;
	border: 1px solid rgba(122,134,154,0.39);
	border-radius: 8px;
	width: 359px;
	height: 50px;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.placeholder{
	color: #121774;
	letter-spacing: 0;
	margin-top: 10px;
}
#forgot-user{
	font-size: 14px;
	color: #4285F4;
	letter-spacing: 0.5px;
	text-align: center;
	margin-top: 30px;
	font-weight: 100;
}


/* NAVBAR */
.user{
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
}
.black-text{
    color: #000000;
}
.navbar-light{
    background-color: #ffffff !important;
}
.container-reset{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.navbar-light .active a{
    color: #4688F1 !important;
	font-weight: bold;
}
.navbar{
    min-height: 70px !important;
    font-size: 13px !important;
}
navbar-light .active a{
    color: #4688F1 !important;
	font-weight: bold;
}
.nav-item, .uppercase{
    text-transform: uppercase;
}
.nav-item, .user{
    color: #666666 !important;
    font-size: 13px !important;
    font-weight: 600;
}
.btn-logout{
	margin-left: 20px;
    background: #4285F4;
    width: 80px;
	color: #FFFFFF;
	padding: 10px;
	background: #4285F4;
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.btn-logout:hover {
  background: #CF4647;
  color: #ffffff;
}
.breadcrumb{
	background-color: #F8FAFF !important;
}

/* CONTENT */
.bg-content{
	background-color: #F8FAFF;
	min-height: 80vh;
	/*background-color: #f2f2f2;*/
}
.bg-dashboard{
	background-color: #FFFFFF;
}
.content{
	padding-top: 20px;
}
.inner{
	margin: 30px;
}

/* ADMIN DASHBOARD */
.subtitle{
	margin-top: 10px;
	letter-spacing: 5px;
}
.subtitle-border{
	background-color: #4285F4;
 	width: 10%;
 	height: 5px;
 	border-top: 3px solid #4285F4;
    margin: 20px auto 20px auto;
}
.btn-links{
	width: 230px;
	height: 170px;
	background: #132B51;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.08);
	border-radius: 5px;
	padding: 30px;
	margin-top:20px;
	margin-right: 20px;
}
.quick-links-items{
	margin-right: 10px;
}
.announcements{
	width: 300px;
	height: 500px;
	background: #FFFFFF;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.08);
	float: right;
	margin-top: 30px;
}
.quick-links-items{
	margin-right: 10px;
}

.content-heading{
	color: #A4A4A4;
	letter-spacing: 0;
}
.content-heading h1{
	margin-bottom: 0;
}
.content-heading h4{
	padding-top: 0;
}
.quick-links-icons{
	font-size: 60px;
	color: #4688F1;
}
.quick-links{
	display: flex;
	justify-content: center;
}
.quick-links-item{
	align-self: auto;
}
.quick-links h4{
	color: #FFFFFF;
	margin-top: 20px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0;
}
.quick-links h3{
	margin-top: 40px;
	margin-left: 20px;
	color: #A4A4A4;
}
.btn-links:hover {
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}



/* Financial Records */
.table-records{
	padding-left: 15px;
	margin-top: 30px;
}
.active-status{
	margin-right: 3px;
    font-size: 10px;
    color: #36B37E;
}
.inactive-status{
	margin-right: 3px;
    font-size: 10px;
    color: #DE350A;
}
.table-records tr:hover{
	cursor: pointer;
}
.add-button,.print{
	margin-right: 15px;
}
.view-button{
	width: 100px !important;
}
.modal-body label, .heading-label label{
	font-weight: bold;
	color: #7A869A;
	margin-top: 10px;
}

/* USER RECORD */
.records{
	margin-top: 30px;
}
.card-section{
	padding: 30px;
}
.link{
	color: #000000;
}
.modal{
	box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24) !important;
}

/* SETTINGS */
.grey{
	color: #777777;
}
.row-menu{
	margin-bottom: 20px;
}
.margin{
	margin-bottom: 30px;
}

/* Student Profile */
.sm-headings{
	margin-top: 20px;
	font-weight: bold;
}
.profile-picture {
	margin-top: 0 !important;
	font-weight: normal !important;
}
.custom-file-input{
	cursor: pointer;
}
.date-padding-reset{
	padding-left: 0 !important;
}
.pagination{
	justify-content: center;
}
/* SECTION LIST */
.card-shadow{
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}
.card{
	margin-top: 20px;
}

/* SCHOOL YEAR LIST */
.btn-long-text{
	white-space:normal !important;
    max-width:200px;
    word-wrap:break-word;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

/* USERS LIST ADD */
.btn-forms{
	margin: 20px;
}
.reset-password-btn{
	font-weight: bold;
	color: #007bff !important;
	margin-left: 10px;
}

/* CURRICULUM LIST ADD */
.delete-btn{
	/*font-size:2em; */
	margin-top: 40px;
}
.warning{
	color:#DE350A;
}

/* CURRICULUM LIST */
.flex-container{
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}
.menu-flex{
	display: flex; 
	justify-content: space-between !important;
}
.flex-item{
	align-self: flex-end;
	
}
.title{
	text-align: center;
}

/* EMPLOYEE PROFILE */

/* FOOTER */
footer{
	width: auto;
	background-color: #ffffff;
	height: 50px;
}
.footer-parent{
	display: flex;
  	flex-flow: row wrap;
}
.footer-parent> * {
	padding: 20px;
    flex: 1 100%;
    text-align: center;
}
  
.footer-items{
	margin: auto;
}

/* REPORTS */
.nowrap {
	white-space: nowrap;
}

.line-break{
	 line-height: 80px;
}
.line-break-child{
	vertical-align: middle;
}

/*PROMISSORY NOTES*/
.promissory-approved{
	font-weight: bold;
	color: #28a745;
}
.promissory-pending{
	font-weight: bold;
	color: #ffc107;
}
.promissory-rejected{
	font-weight: bold;
	color: #dc3545;
}

/* PAYMENT TRANSACTION */
.currency:before{
	content: "\0020B1";
}
.payment, .addPayment{
	margin-top: 30px;
	margin-bottom: 10px;
}
.summary-title{
	font-weight: bold;
	font-size: 1em;
}
.summary-value{
	font-weight: 400;
	font-size: 2.5em;
	line-height: 40px;
}