//color scheme

$primary-color-light: #0052CC;
$primary-color-dark: #121774;
$primary-color-gray: #7A869A;
$primary-color-white: #FFFFFF;

$secondary-color-green: #36B37E;
$secondary-color-red: #DE350A;
$secondary-color-yellow: #FFAB00;

$primary-color-dark: #121774;

$secondary-color-darkgray: #A4A4A4;
$secondary-color-lightblue: #4285F4;
$active-color: #4688F1;
$font_1: Helvetica, sans-serif;
$font_2: Helvetica-Bold;
$font_3: Helvetica;
$font_4: Helvetica-Light;

html {
	font-family: $font_1;
}
h1 {
	font-size: 29px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
p {
	font-size: 14px;
}
.container {
	background-color: $primary-color-white;
	padding-top: 50px;
	display: flex;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content: center;

	.title {
		font-family: $font_2;
		color: $primary-color-dark;
		letter-spacing: -1px;
		margin-left: 25px;
		text-transform: uppercase;
	}
}
.form-input {
	background: #F4F4F4;
	box-shadow: 0 2px 25px 0 #C2E1EE;
	border-radius: 26px;
	width: 413px;
	height: 375px;
	position: relative;

	button {
		background: #4285F4;
		text-transform: uppercase;
		border-radius: 0 0 26px 26px;
		width: 413px;
		height: 80px;
		position: absolute;
		bottom: 0;
		text-align: center;
		cursor: pointer;
	}
}
button {
	h3 {
		text-shadow: 0 2px 6px rgba(0,0,0,0.15);
		font-family: $font_3;
		font-size: 20px;
		color: $primary-color-white;
		letter-spacing: 1.05px;
		margin: 28px 160px;
	}
}
form {
	padding: 28px;
}
input {
	background: #F7F8F9;
	border: 1px solid rgba(122,134,154,0.39);
	border-radius: 8px;
	width: 359px;
	height: 50px;
	padding: 30px;
	margin-top: 10px;
	margin-bottom: 30px;
}
.placeholder {
	font-family: $font_2;
	color: $secondary-color-darkgray;
	letter-spacing: 0;
	line-height: 20px;
}
#forgot-user {
	font-family: $font_4;
	color: $secondary-color-lightblue;
	letter-spacing: 0.5px;
	text-align: center;
	margin-top: 30px;
}

// dashboard 
.active {
	border-bottom: 3px solid $active-color;
	color: $active-color;
	padding-bottom: 1px;
}