html {
  font-family: Helvetica,sans-serif; }

h1 {
  font-size: 29px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

p {
  font-size: 14px; }

.container {
  background-color: #FFFFFF;
  padding-top: 50px;
  display: flex;
  flex-flow: rowwrap;
  -webkit-justify-content: center;
  justify-content: center; }

.container.title {
  font-family: Helvetica-Bold;
  color: #121774;
  letter-spacing: -1px;
  margin-left: 25px;
  text-transform: uppercase; }

.form-input {
  background: #F4F4F4;
  box-shadow: 2px25px0 #C2E1EE;
  border-radius: 26px;
  width: 413px;
  height: 375px;
  position: relative; }

.form-inputbutton {
  background: #4285F4;
  text-transform: uppercase;
  border-radius: 0026px26px;
  width: 413px;
  height: 80px;
  position: absolute;
  bottom: 0;
  text-align: center; }

buttonh3 {
  text-shadow: 2px6pxrgba 0, 0, 0, 0.15;
  font-family: Helvetica;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1.05px;
  margin: 28px160px; }

form {
  padding: 28px; }

input {
  background: #F7F8F9;
  border: 1pxsolidrgba 122, 134, 154, 0.39;
  border-radius: 8px;
  width: 359px;
  height: 50px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 30px; }

.placeholder {
  font-family: Helvetica-Bold;
  color: #A4A4A4;
  letter-spacing: 0;
  line-height: 20px; }

#forgot-user {
  font-family: Helvetica-Light;
  color: #4285F4;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 30px; }

.active {
  border-bottom: 3px solid #4688F1;
  color: #4688F1;
  padding-bottom: 1px; }