{% extends 'base.html' %} {% block settings %}
<li class="nav-item active-menu">
  <a class="nav-link" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %} {%load static%} {% block content %}
<!-- CONTENT -->
<div class="container-fluid bg-content">
  <div class="content">
    <div class="row records">
      <div class="col">
        <h2> Curriculum List</h2>
      </div>
      <div class="col">
        <div class="flex-container no-print">
          <div class="align-right-item">
            
            {% if disabled == True  %}
              <a href="#" class="add-button btn btn-primary flex-item disabled"><i class="fa fa-plus" aria-hidden="true"></i> Initialize New Curriculum</a>
              <!-- BACK END PROCESSES -->
            {% else %}
            <a href="javascript:initCurriculum()" class="add-button btn btn-primary flex-item"><i class="fa fa-plus" aria-hidden="true"></i> Initialize New Curriculum</a>
            <!-- BACK END PROCESSES -->
            {% endif %}
              
            
          </div>
        </div>
      </div>
    </div>
    <div class="row table-records table-responsive" id="curriculum-listings">
      <!-- INSERT TABLE HERE -->

    </div>
    <nav aria-label="Page navigation">
      <ul class="pagination pagination-md justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- CONTENT -->

<!-- JQUERY -->
<script src="02-javascript/jquery-3.2.1.min.js"></script>

<!-- Allows dropdown menu to select child -->
<script>
  $(function() {

    $(".dropdown-menu a").click(function() {

      $("#selected:first-child").text($(this).text());
      $("#selected:first-child").val($(this).text());
      if ($("#selected:first-child").val() == "Status") {
        $(".changeIfStatus").replaceWith("<h1> test </h1>"); // must change into dropdown
      }
      else {

      }

    });

  });
</script>
{# ---------------------------BACKEND SCRIPTS ------------------------------- #}
<script>
  $(function() {
    generateTable();
  });
  function initCurriculum(){
    $.ajax({
      url: '{% url "curriculum-add" %}',
      type: 'get',
      dataType: 'json',
      success: function(data) {
        location.reload()
      }
    });
  }

  function generateTable(){
    $.ajax({
      url: '{% url "curriculum-table" %}',
      type: 'get',
      dataType: 'json',
      success: function(data) {
        $("#curriculum-listings").html(data.html_form);
      }
    });
  }
</script>

{%endblock%}
