{% extends 'base.html' %}
{% block settings %}
<li class="nav-item">
  <a class="nav-link active-menu" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %}

{%load static%}
{% block content %}
    <!-- CONTENT -->
    <div class="container-fluid bg-content">
      <div class="content"> 
        <a href="{% url 'curriculum-list'%}"><h4><i class="fa fa-angle-left" aria-hidden="true"></i> Back to records list</h4></a>
        <div class="card">
          <div class="card-block">
            <div class="row records">
              <div class="col-md-8">
                <h2>Curriculum Details</h2>
              </div>
              <div class="col-md-4">
                <div class="btn-group float-right">
                  <a href="curriculum-subjects-list-add.html" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> Add New Subjects</a>
                </div>
              </div>
            </div>
            <div class="row table-records table-responsive" id="curriculum-subject-listings">
               
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- CONTENT -->

    <script>
      var count=1;
      var add = function(){
        if(count >= 15) return;
        $('#addSubjects').append('<div class="col-md-4"> <label>Subject ID:</label><p class="form-control-static">0001</p></div><div class="col-md-6"><label>Subject Name:</label><input type="text" class="form-control" required></div>') // Increment SubjectID
        count++;
      };
    </script>

{%endblock%}
