{% extends 'base.html' %}

{% block title %}
    Edit Student Registration
{% endblock title %}
    
{% block settings %}
<li class="nav-item active-menu">
  <a class="nav-link" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %}

{%load static%}
{% block content %}
<div class="container-fluid bg-content">
  <div class="content">
    
  </div>
</div>

<script>
$(function(){
    
    $.ajax({
        url: '{% url "subject-edit-form" subject.subject_ID%}',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            $(".content").html(data.html_form);
        }
    });
});
 $(".content").on("submit", ".subject-edit-form", function() {
      var form = $(this);
      $.ajax({
          url: '{% url "subject-edit-form" subject.subject_ID%}',
          data: form.serialize(),
          type: form.attr("method"),
          dataType: 'json',
          success: function(data) {
              if (data.form_is_valid) {
                  window.location = "{% url 'curriculum-detail' curriculum.curriculum_ID %}"
              }
              else {
                  $(".content").html(data.html_form);
              }
          }
      });
      return false;
  });
</script>
{% endblock %}