{% load widget_tweaks %}
<form action="{% url 'curriculum-create' %}" method="POST" class="js-curriculum-create-form">
{% csrf_token %}
<div class="row">
    <div class="col">
      <h3 class="link" style="margin-top: 10px;">New Curriculum</h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      <label>Curriculum ID:</label>
        <p class="form-control-static">0001</p><!--incremental-->
      </div>
      <div class="col-md-4">
        <label>School Year:</label><br/>
        {{form.school_year|add_class:"form-control"|attr:"placeholder = Scholarship Type"}}
            {% if form.school_year.errors %}
              <p class="help-block">{{ form.school_year.errors }}</p>
            {% endif %}
      </div>
      <div class="col-md-4">
        <label>Year Level:</label><br/>
        {{form.year_level|add_class:"form-control"|attr:"placeholder = Scholarship Type"}}
            {% if form.year_level.errors %}
              <p class="help-block">{{ form.year_level.errors }}</p>
            {% endif %}
      </div>
      
    </div>
    <div class="btn-forms" style="display: flex; justify-content: flex-end">
      <a href="curriculum-list.html" class="btn btn-link">Cancel</a>
       <input type="submit" class="btn btn-primary" value="Save Curriculum Details"></input>
    </div>
</form>