{% load widget_tweaks %}
<form action="{% url 'curriculum-create' %}" method="POST" class="js-curriculum-create-form">
{% csrf_token %}
<div class="row">
  <div class="col">
    <h3 class="link" style="margin-top: 10px;">New Curriculum</h3>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    <label>Curriculum ID:</label>
      <p class="form-control-static">0001</p><!--incremental-->
    </div>
    <div class="col-md-4">
        <label>Year Level:</label>
          <select class="custom-select btn-block" required>
          <option selected>Choose year level...</option>
          2018</option>
          <option value="1">Grade 1</option>
          <option value="2">Grade 2</option>
          <option value="3">Grade 3</option>
          <option value="4">Grade 4</option>
      </select>
      </div>
    <div class="col-md-4">
      <label>School Year:</label><br/>
      <select class="custom-select btn-block" required>
        <option selected>Choose school year...</option>
        2018</option>
        <option value="2">SY 2017-2018</option>
        <option value="3">SY 2016-2017</option>
        <option value="4">Other</option>
      </select>
    </div>
  </div>
  <h5 class="sm-headings">Subjects </h5>
  <div id="addSubjects">
    <div class="row">
      <div class="col-md-4">
        <label>Subject ID:</label>
        <p class="form-control-static">0001</p>
      </div>
      <div class="col-md-6">
        <label>Subject Name:</label>
          <input type="text" class="form-control" required>
      </div>
      <div class="col-md-2 text-center delete-btn">
        <a href="#" class="delete-row warning" onclick="deleteRow(this)"><i class="fa fa-close"></i>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="button" onclick="add()" class="btn btn-link"><i class="fa fa-plus" aria-hidden="true"></i> Add additional subject</button>
  </div>
  <div class="btn-forms" style="display: flex; justify-content: flex-end">
    <a href="curriculum-list.html" class="btn btn-link">Cancel</a>
     <input type="submit" class="btn btn-primary" value="Save Curriculum Details"></input>
  </div>
</form>