{% extends 'base.html' %}
{% block settings %}
<li class="nav-item">
  <a class="nav-link active-menu" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %}

{%load static%}
{% block content %}
    <!-- FORM CONTENT -->
    <div class="container-fluid bg-content">
      <div class="content">
        
          <div class="btn-forms" style="display: flex; justify-content: flex-end">
            <a href="scholarship-list.html" class="btn btn-link">Cancel</a>
            <a href="#" class="btn btn-primary "><i class="fa fa-check-circle" aria-hidden="true"></i> Save Scholarship Details</a>
          </div>
        </form>
      </div>
    </div>

<script>
$(function() {
  $.ajax({
        url: '{% url "scholarship-create" %}',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            $(".content").html(data.html_form);
        }
  });
  
  $(".content").on("submit", ".js-scholarship-create-form", function() {
    var form = $(this);
    $.ajax({
        url: '{% url "scholarship-create" %}',
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function(data) {
            if (data.form_is_valid) {
                window.location = "{%url 'scholarship-list' %}"
            }
            else {
                console.log(data.form_is_valid);
                $(".content").html(data.html_form);
            }
        }
    });
    return false;
});
});


</script>
{%endblock%}