{% extends 'base.html' %}
{% block settings %}
<li class="nav-item">
  <a class="nav-link active-menu" href="{% url 'admin-settings' %} style="color: #4688F1;"">Settings</a>
</li>
{% endblock %}

{% block content %}
    <!-- CONTENT -->
    <div class="container-fluid bg-content">
      <div class="content">
        <h2> Sections </h2>
        <div class="row search-bar">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button id="selected" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </button>
                <!-- Supply dropdown menu categories, refer to database -->
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">All categories</a>
                  <a class="dropdown-item" href="#">Scholarship ID</a>
                  <a class="dropdown-item" href="#">Validity</a>
                  <a class="dropdown-item" href="#">Scholarship Type</a>
                </div>
              </div>
              <input type="text" class="changeIfStatus form-control" placeholder="Search records..." aria-label="Search records...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary">Search</button>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <button type="button" class="add-button btn btn-primary float-right" data-toggle="modal" data-target="#createSection"><i class="fa fa-plus" aria-hidden="true"></i>Create Section</button>
              <div class="modal fade" id="createSection" tabindex="-1" role="dialog" aria-labelledby="#createSection" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="labelModal">Create Section</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="row">
                              <div class="col-md-4">
                              <label>Section ID:</label>
                                <p class="form-control-static">0002</p><!--incremental-->
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label>Section Name:</label>
                                <input type="text" class="form-control">
                              </div>
                              <div class="col-md-6">
                                <label>Adviser:</label>
                                <input type="number" class="form-control">
                              </div>
                            </div>
                          <div class="row">
                            <div class="col-md-6">
                                <label>Room Number:</label>
                                <input type="number" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                                <label>Section Status:</label>
                                <div class="custom-controls-stacked">
                                  <label class="custom-control custom-radio">
                                    <input id="radioActiveScholarship" name="radio-stacked" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Active</span>
                                  </label>
                                  <label class="custom-control custom-radio">
                                    <input id="radioInactiveScholarship" name="radio-stacked" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Inactive</span>
                                  </label>
                                </div>
                              </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#confirmModal">Save section details</button>
                          <div class="modal" id="confirmModal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Save changes</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>Are you sure you want to save this record?</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" id="saveChanges" class="btn btn-primary" data-dismiss="alert">Save changes</button>
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        
        
        <div class="sections">
          <h3 class="sm-headings"> Grade 1 </h3>
          <div class="row">
            {% for section in section_list %}
            <div class="col-md-4">
              <div class="card card-shadow" style="width: 19rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <a href="section-details.html"><h3 class="card-title">{{section.section_name}}</h3></a>
                    </div>
                    <div class="col-lg-6">
                      <h4 class="card-title"><span class="student-count text-success">3</span>/45</h4>
                    </div>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted">Room:<br/><span class="card-text link">F612</span></h6>
                  <h6 class="card-subtitle mb-2 text-muted">Adviser:<br/><span class="card-text link">{{section.adviser}}</span></h6>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENT -->
    <!-- Allows dropdown menu to select child -->
    <script>
    $(function(){

      $(".dropdown-menu a").click(function(){

            $("#selected:first-child").text($(this).text());
            $("#selected:first-child").val($(this).text());
            if($("#selected:first-child").val() == "Status"){
                $(".changeIfStatus").replaceWith("<h1> test </h1>"); // must change into dropdown
            }
            else{

            }

         });

      });
    </script>

    <!-- Changes color of student count if student count is 5 less than the total number of students in a class -->
    <script>

    </script>
{% endblock %}