{% extends 'base.html' %}
{% block settings %}
<li class="nav-item active-menu">
  <a class="nav-link" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %}

{% block content %}
    <!-- CONTENT -->
    <div class="container-fluid bg-content">
      <div class="content">
        <h2> Sections </h2>
        <div class="row search-bar">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button id="selected" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </button>
                <!-- Supply dropdown menu categories, refer to database -->
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">All categories</a>
                  <a class="dropdown-item" href="#">Section ID</a>
                  <a class="dropdown-item" href="#">Section Name</a>
                  <a class="dropdown-item" href="#">Adviser</a>
                  <a class="dropdown-item" href="#">Room</a>
                </div>
              </div>
              <input type="text" class="changeIfStatus form-control search-input" placeholder="Search records..." aria-label="Search records...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary search">Search</button>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="btn-group float-right">
              <a href="{% url 'section-create' %}" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> Create New Section</a>
            </div>
          </div>
        </div>
        <div class="sections" id="section-listings">
          <!--- INSERT TABLE HERE --->
        </div>
      </div>
    </div>
    <!-- CONTENT -->
    <!-- Allows dropdown menu to select child -->
<script>
var selected = "None";
var search_data = "None";
  $(function() {
    $(".dropdown-menu a").click(function() {
      $("#selected:first-child").text($(this).text());
      $("#selected:first-child").val($(this).text());
      selected = $("#selected:first-child").val();
      if ($("#selected:first-child").val() == "All categories") {
        generatePage(1)
      }
      else {
      }
    });
  });
</script>
    
    <!-- ---------------------------BACKEND SCRIPTS ------------------------------->
<script>
$(function() {
    
    $.ajax({
          url: '{% url "section-table" %}',
          type: 'get',
          dataType: 'json',
          success: function(data) {
              $("#section-listings").html(data.html_form);
          }
      });
      alert(data.html_form);
  });
    
  function generatePage(pageNum){
    if(search_data == "None" || selected == "None"){
      generatePages(pageNum)
    }else{
      generatePages2(pageNum)
    }
  }
  function generatePages(pageNum) {
    $.ajax({
      url: '{% url "section-table" %}?page=' + pageNum,
      type: 'get',
      dataType: 'json',
      success: function(data) {
        $("#section-listings").html(data.html_form);
      }
    });
  }
  
  function generatePages2(pageNum) {
    $.ajax({
      url: '{% url "section-table" %}?page=' + pageNum + '&search='+search_data+"&genre="+selected,
      type: 'get',
      dataType: 'json',
      success: function(data) {
        $("#section-listings").html(data.html_form);
      }
    });
  }
  
  $('.search').click(function() {
    search_data = $('.search-input').val();
    if(search_data == ""){
      search_data = "None"
    }
    generateSearch();
  });
  
  function generateSearch() {
    $.ajax({
      url: '{% url "section-table" %}?search='+search_data+"&genre="+selected,
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        $("#section-listings").html(data.html_form);
      }
    });
  }
</script>
{% endblock %}