{% extends 'base.html' %}
{% block settings %}
<li class="nav-item">
  <a class="nav-link active-menu" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %}

{% block content %}
    <!-- CONTENT -->
    <div class="container-fluid bg-content">
      <div class="content">
        <h2> Sections </h2>
        <div class="row search-bar">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button id="selected" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </button>
                <!-- Supply dropdown menu categories, refer to database -->
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">All categories</a>
                  <a class="dropdown-item" href="#">Section ID</a>
                  <a class="dropdown-item" href="#">Section Name</a>
                  <a class="dropdown-item" href="#">Adviser</a>
                </div>
              </div>
              <input type="text" class="changeIfStatus form-control" placeholder="Search records..." aria-label="Search records...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary">Search</button>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="btn-group float-right">
              <a href="section-list-add.html" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> Create New Section</a>
            </div>
          </div>
        </div>
        <div class="sections">
          <h3 class="sm-headings"> Grade 1 </h3>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-shadow" style="width: 19rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <a href="section-details.html"><h3 class="card-title">St. Mark</h3></a>
                    </div>
                    <div class="col-lg-6">
                      <h4 class="card-title"><span class="student-count text-success">3</span>/45</h4>
                    </div>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted">Room:<br/><span class="card-text link">F612</span></h6>
                  <h6 class="card-subtitle mb-2 text-muted">Adviser:<br/><span class="card-text link">Mr. Obi Wan Kenobi</span></h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-shadow" style="width: 19rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h3 class="card-title">St. Paul</h3>
                    </div>
                    <div class="col-lg-6">
                      <h4 class="card-title"><span class="student-count text-danger">45</span>/45</h4>
                    </div>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted">Room:<br/><span class="card-text link">F612</span></h6>
                  <h6 class="card-subtitle mb-2 text-muted">Adviser:<br/><span class="card-text link">Mr. Omigad</span></h6>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-shadow" style="width: 19rem;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6">
                      <h3 class="card-title">St. Jude</h3>
                    </div>
                    <div class="col-lg-6">
                      <h4 class="card-title"><span class="student-count text-warning">42</span>/45</h4>
                    </div>
                  </div>
                  <h6 class="card-subtitle mb-2 text-muted">Room:<br/><span class="card-text link">F612</span></h6>
                  <h6 class="card-subtitle mb-2 text-muted">Adviser:<br/><span class="card-text link">Mr. Clean</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTENT -->
    <!-- Allows dropdown menu to select child -->
    <script>
    $(function(){

      $(".dropdown-menu a").click(function(){

            $("#selected:first-child").text($(this).text());
            $("#selected:first-child").val($(this).text());
            if($("#selected:first-child").val() == "Status"){
                $(".changeIfStatus").replaceWith("<h1> test </h1>"); // must change into dropdown
            }
            else{

            }

         });

      });
    </script>

    <!-- Changes color of student count if student count is 5 less than the total number of students in a class -->
    <script>

    </script>
{% endblock %}