{% extends 'base.html' %}
{% block settings %}
<li class="nav-item active-menu">
  <a class="nav-link" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %}

{%load static%}
{% block content %}
    <!-- CONTENT -->
    <div class="container-fluid bg-content">
      <div class="content"> 
        <a href="schoolyear-list.html"><h4><i class="fa fa-angle-left" aria-hidden="true"></i> Back to records list</h4></a>
        <div class="card">
          <div class="card-block">
            <div class="row records">
              <div class="col-md-8">
                <h2>Subject Offering</h2>
              </div>
              <div class="col-md-4">
                <div class="float-right">
                  <button onClick="location.href='{% url 'subjectOffering-add' %}'" type="button" class="add-button btn btn-primary float-right"><i class="fa fa-plus" aria-hidden="true"></i>Create Subject Offering</button>
                </div>
              </div>
            </div>
            <div class="row table-records table-responsive" id="subjectOffering-listings">
              <!-- Table here-->
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!-- CONTENT -->

<!-- Allows dropdown menu to select child -->
<script>
$(function(){

  $(".dropdown-menu a").click(function(){

        $("#selected:first-child").text($(this).text());
        $("#selected:first-child").val($(this).text());
        if($("#selected:first-child").val() == "Status"){
            $(".changeIfStatus").replaceWith("<h1> test </h1>"); // must change into dropdown
        }
        else{

        }

     });

  });
</script>
<!-- ---------------------------BACKEND SCRIPTS ------------------------------->
<script>
$(function() {
  $.ajax({
        url: '{% url "subjectOffering-table" %}',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            $("#subjectOffering-listings").html(data.html_form);
        }
    });
});
</script>
    
{%endblock%}