<table class="table table-bordered bg-nav table-hover">
  <thead class="thead-light">
    <tr>
      <!-- Refer to database for headings -->
      <th scope="col">Curriculum Year</th>
      <th scope="col">Curriculum Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {%for c in curriculum_list%}
    <tr>
      <td>{{c.curriculum_year|date:'Y'}}</td>
      <td>{%if c.curriculum_status == 'Active'%}<i class="fa fa-circle active-status"></i>{%else%} <i class="fa fa-circle inactive-status"></i>{%endif%}{{c.curriculum_status}}</td>
      <td class="text-center"><a href="{%url 'curriculum-detail' c.pk %}" class="btn btn-success btn-sm view-button">View</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5" class="text-center">No Curriculum</td>
    </tr>
    {%endfor%}

  </tbody>
</table>
