<table class="table table-bordered bg-nav table-hover">
                <thead class="thead-light">
                  <tr>
                    <!-- Refer to database for headings -->
                    <th scope="col">Student ID <i class="fa fa-sort" aria-hidden="true"></th>
                    <th scope="col">Last Name <i class="fa fa-sort" aria-hidden="true"></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Middle Name</th>
                    <th scope="col">Actions <i class="fa fa-sort" aria-hidden="true"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0001</td>
                    <td>Da wae</td>
                    <td>Do you</td>
                    <td>know</td>
                    <td class="text-center"><a href="#" class="btn btn-success btn-sm view-button">View</a><!--Makita student profile nila-->
                    <a href="#" class="btn btn-danger btn-sm view-button">Delete</a></td>
                  </tr>
                </tbody>
              </table>