<h3 class="sm-headings"> Grade 1 </h3>
<div class="row">
<div class="col-md-4">
  <div class="card card-shadow" style="width: 19rem;">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="section-details.html"><h3 class="card-title">St. Mark</h3></a>
        </div>
        <div class="col-lg-6">
          <h4 class="card-title"><span class="student-count text-success">3</span>/45</h4>
        </div>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">Room:<br/><span class="card-text link">F612</span></h6>
      <h6 class="card-subtitle mb-2 text-muted">Adviser:<br/><span class="card-text link">Mr. Obi Wan Kenobi</span></h6>
    </div>
  </div>
</div>
</div>