<table class="table table-bordered bg-nav table-hover">
  <thead class="thead-light">
    <tr>
      <!-- Refer to database for headings -->
      <th scope="col">Last Name <i class="fa fa-sort" aria-hidden="true"></th>
      <th scope="col">First Name</th>
      <th scope="col">Middle Name</th>
      <th scope="col">Actions <i class="fa fa-sort" aria-hidden="true"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {%for student in section_enrollee_list%}
      <td>{{student.student.last_name}}</td>
      <td>{{student.student.first_name}}</td>
      <td>{{student.student.middle_name}}</td>
      <td class="text-center"><a href="#" class="btn btn-success btn-sm view-button">View</a><!--Makita student profile nila-->
      <a href="#" class="btn btn-danger btn-sm view-button">Delete</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="6" class="text-center">No Student</td>
    </tr>
  {%endfor%}
  </tbody>
</table>
{% if sction_enrollee_list.has_other_pages %}
<nav aria-label="Page navigation" class="no-print">
  <ul class="pagination pagination-md justify-content-center">
    {% if sction_enrollee_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="javascript:generatePage({{ sction_enrollee_list.previous_page_number }})" tabindex="-1">Previous</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    {%endif%} 
    {% for i in sction_enrollee_list.paginator.page_range %} 
      {% if sction_enrollee_list.number == i %}
        <li class="page-item active"><a class="page-link " href="#" >{{i}}<span class="sr-only">(current)</span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="javascript:generatePage({{i}})">{{i}}</a></li>
      {% endif %} 
    {% endfor %} 
    {% if sction_enrollee_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="javascript:generatePage({{ sction_enrollee_list.next_page_number }})">Next</a>
    </li>
    {%else%}
    <li class="page-item disabled">
      <a class="page-link" href="#">Next</a>
    </li>
    {%endif%}
  </ul>
</nav>
{% endif %}