{% extends 'base.html' %} 

{%block body%} 

<div class="container-fluid bg-content wrapper">
      <div class="content">
        <div class="form-heading margin">
          <h1> Settings - Employee Profile </h1>
        </div>
        <form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
          <form method="post">

               <!-- Emp First Name -->
              <div class="row">
                  <label class="control-label col-sm-2" for="empFN">First Name:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="empFN" name="empFN" placeholder="Enter First Name" value="">
                  </div>

                <!-- Emp Last Name -->
                  <label class="control-label col-sm-2" for="empLN">Last Name:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="empLN" name="empLN" placeholder="Enter Last Name" value="">
                  </div>
              </div>

              <div style="margin: 10px 10px 10px 10px"> </div>

              <div class="row">
                  <!-- Emp Username -->
                  <label class="control-label col-sm-2" for="empUN">Username:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="empUN" name="empUN" placeholder="Enter Username" value="">
                  </div>
                
                  <!-- Emp Password -->
                  <label class="control-label col-sm-2" for="empPD">Password:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="empPD" name="empPD" placeholder="Enter Password" value="">
                  </div>
              </div>

              <div style="margin: 10px 10px 10px 10px"> </div>

              <div class="row">
                  <div class="col-md-2">
                    <label>Employee Type:</label><br/>
                  </div>
                  <div class="col-md-4">
                    <select class="custom-select btn-block" required>
                      <option selected>Choose a type..</option>
                      <option value="0">Teacher</option>
                      <option value="1">Academic Head</option>
                      <option value="2">Registrar Head</option>
                      <option value="3">Cashier</option>
                      <option value="4">Admin</option>
                      <!-- Values should be from the curriculum years stored in database (ps. idk if this is curriculum ng subjects nila OR curriculum year as in school year-->
                    </select>
                  </div>

                  <div class="col-md-2">
                    <label>Employee Status:</label>
                  </div>
                  <div class="col-md-2">
                    <label class="custom-control custom-radio">
                      <input id="radioActiveScholarship" name="radio-stacked" type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Active</span>
                    </label>
                  </div>
                  <div class="col-md-2">
                    <label class="custom-control custom-radio">
                      <input id="radioInactiveScholarship" name="radio-stacked" type="radio" class="custom-control-input">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">Inactive</span>
                    </label>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-md-12">
                    <div class="float-right">
                        <input type="submit" class="btn btn-primary" value="Save Employee Profile"></input> 
                    </div>
                  </div>
                </div>
        </form>
{%endblock%}
