{% load widget_tweaks %}
<form method="POST" action="{% url 'enrollment-create'  student.student_ID %}" class="enrollment-form">
  {% csrf_token %}
  <div class="row">
    <div class="col">
      <h3 class="link" style="margin-top: 10px;">Student Registration</h3>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Student ID:</label>
      <p class="form-control-static">000{{student.student_ID}}</p><!--incremental-->
    </div>
    <div class="col-md-4">
      <label>Student Name:</label>
      <p class="form-control-static">{{student.last_name}}, {{student.first_name}}</p><!--incremental-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <label>Enrollment ID:</label>
      <p class="form-control-static">000{{last_record.enrollment_ID|add:"1"}}</p><!--incremental-->
    </div>
    <div class="col-md-4">
      <label>Student Type:</label>
      <p class="form-control-static">{{student.get_student_level_display}}</p>
    </div>
    <div class="col-md-4">
      <label>Date Enrolled:</label>
      <p class="form-control-static">{% now "SHORT_DATETIME_FORMAT" %}</p><!-- current Date and time?-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label>Curriculum:</label>
      {{form.curriculum|add_class:"custom-select btn-block sections"}}
    </div>
  </div>
  <h5 class="sm-headings">Scholarships </h5>
  <div class="row">
    <div class="col-md-4">
      <label>Scholarship Name:</label>
      {{form.scholarship|add_class:"custom-select btn-block"}}
    </div>
    <div class="col-md-4">
      <label>School Year:</label>
      {{form.school_year|add_class:"custom-select btn-block"}}
    </div>
  </div>
  <div class="btn-forms" style="display: flex; justify-content: flex-end">
    <a href="student-profile.html" class="btn btn-link">Cancel</a>
    <a href="#" class="btn btn-primary "><i class="fa fa-check-circle" aria-hidden="true"></i> Save Student Registration</a>
  </div>
</form>