{% extends 'base.html' %} 

{%block body%} 


<div class="container-fluid bg-content">
    <div class="content">
        <h2> Student Profiles </h2>
        <div class="row search-bar">
        <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button id="selected" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </button>
                <!-- Supply dropdown menu categories, refer to database -->
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">All categories</a>
                  <a class="dropdown-item" href="#">Student ID</a>
                  <a class="dropdown-item" href="#">Name</a>
                  <a class="dropdown-item" href="#">Year/Level</a>
                  <a class="dropdown-item" href="#">Status</a>
                </div>
              </div>
              <input type="text" class="changeIfStatus form-control" placeholder="Search records..." aria-label="Search records...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary">Search</button>
              </span>
            </div>
        </div>
        
        <div class="col-lg-6">
          <button type="button" class="add-button btn btn-primary float-right" data-toggle="modal" data-target="#createStudentProfileModal">Create Student Profile</button>
          <div class="modal fade" id="createStudentProfileModal" tabindex="-1" role="dialog" aria-labelledby="#createStudentProfileModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="labelModal">Create Student Profile</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="row">
                      <div class="col">
                        <h3 class="link" style="margin-top: 10px;">Student Information</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Student ID:</label>
                        <p class="form-control-static">0009</p>
                        <!--incremental-->
                      </div>
                      <div class="col-md-4">
                        <label>Student level:</label><br/>
                        <!-- unsure with the term pa-->
                        <select class="custom-select btn-block" required>
                                  <option selected>Choose student type...</option>
                                  <option value="1">Grade School</option>
                                  <option value="2">Junior High School</option>
                                  <option value="3">Senior High School</option>
                                  <option value="3">Other</option>
                                </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-10">
                        <label>Student Profile Picture:</label><br>
                        <label class="custom-file profile-picture">
                                <input type="file" id="file" class="custom-file-input">
                                <span class="custom-file-control"></span>
                                </label>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>First name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                      <div class="col-md-4">
                        <label>Middle name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                      <div class="col-md-4">
                        <label>Last name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Place of Birth:</label>
                        <input type="text" class="form-control" required>
                        <!-- Kung pwede API dito ng mga places in the Philippines and outside -->
                      </div>
                      <div class="col-md-4">
                        <label>Date of Birth:</label><br/>
                        <div class="col-10">
                          <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label>Sex:</label><br/>
                        <select class="custom-select btn-block" required>
                                  <option selected>Choose gender...</option>
                                  <option value="1">Female</option>
                                  <option value="2">Male</option>
                                  <option value="3">Prefer not to say</option>
                                </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label>Home Address:</label>
                        <input type="text" class="form-control" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label>Postal Address:</label>
                        <input type="text" class="form-control" required>
                      </div>
                    </div>
                    <h5 class="sm-headings">Parental Information </h5>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Father's First Name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                      <div class="col-md-4">
                        <label>Father's Middle Name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                      <div class="col-md-4">
                        <label>Father's Last Name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Father's Occupation:</label>
                        <input type="text" class="form-control" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Mother's First Name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                      <div class="col-md-4">
                        <label>Mother's Middle Name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                      <div class="col-md-4">
                        <label>Mother's Last Name:</label>
                        <input type="text" class="form-control" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <label>Mother's Occupation:</label>
                        <input type="text" class="form-control" required>
                      </div>
                    </div>
                    <h5 class="sm-headings">Sisters/Brothers enrolled in Maryknoll (Maximum: 5)</h5>
                    <div class="row" id="addSibs">
                      <div class="col-md-6">
                        <label>Sibling's Name</label>
                        <input type="text" class="form-control" placeholder="Last name, First name">
                        <!-- Dito sana ba kay autocomplete from database records -->
                      </div>
                      <div class="col-md-6">
                        <label>Year Graduated</label>
                        <input type="text" class="form-control" required>
                      </div>
                    </div>
                    <div class="row">
                      <button type="button" onclick="add()" class="btn btn-link"><i class="fa fa-plus" aria-hidden="true"></i> Add another sibling</button>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Guardian's Name</label>
                        <input type="text" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label>Address</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <label>School Last Attended:</label>
                        <input type="text" class="form-control">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Save student profile</button>
                  <div class="modal" id="confirmModal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Save changes</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to save this record?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" id="saveChanges" class="btn btn-primary" data-dismiss="alert">Save changes</button>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a href="#" class="card-link margin float-right print"><i class="fa fa-print" aria-hidden="true"></i> Print Records</a>
        </div>
        
        {%if student_list %}
        <div class="row table-records table-responsive">
            <table class="table table-bordered bg-nav table-hover">
                <thead class="thead-light">
                    <tr>
                        <!-- Refer to database for headings -->
                        <th scope="col">Student ID</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Year Level</th>
                        <th scope="col">Student Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {%for student in student_list%}
                    <tr>
                        <td>000{{student.student_ID}}</td>
                        <td>{{student.last_name}}, {{student.first_name}}</td>
                        <td>Grade 10</td>
                        <td><i class="fa fa-circle 
                        {%if student.status == "a"%}
                            active-status">
                            </i> Active</td>
                        {%else%} 
                            inactive-status">
                            </i> Inactive</td>
                        {%endif%}
                        <td class="text-center"><a href="student-profile.html" class="btn btn-secondary btn-sm view-button">View</a></td>
                    </tr>
                    {%endfor%}
                </tbody>

            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-md justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        {%else%}
        <p>There are no students in your school ._.</p>
        {%endif%} 
    </div>
</div>



<!-- JQUERY -->
    <script src="02-javascript/jquery-3.2.1.min.js"></script>

    <!-- Allows dropdown menu to select child -->
    <script>
    $(function(){

      $(".dropdown-menu a").click(function(){

            $("#selected:first-child").text($(this).text());
            $("#selected:first-child").val($(this).text());
            if($("#selected:first-child").val() == "Status"){
                $(".changeIfStatus").replaceWith("<h1> test </h1>"); // must change into dropdown
            }
            else{

            }

         });

      });
    </script>

    <script>
      var count=1;
      var add = function(){
        if(count >= 5) return;
        $('#addSibs').append('<div class="col-md-6"> <label>Sibling\'s Name</label><input type="text" class="form-control" placeholder="Last name, First name"></div><div class="col-md-6"><label>Year Graduated</label><input type="text" class="form-control" required></div>')
        count++;
      };
    </script>
    <!-- Bootstrap CDN in case something glitches -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>

{%endblock%}
