{% extends 'base.html' %}

{%block body%}
<div class="container-fluid bg-content">
      <div class="content">
        <h2> Student Profiles </h2>
        <div class="row search-bar">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-btn">
                <button id="selected" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </button>
                <!-- Supply dropdown menu categories, refer to database -->
                <div class="dropdown-menu" id="categories_list">
                  <a class="dropdown-item" href="#" >All categories</a>
                  <a class="dropdown-item" href="#" >{{student.student_ID}}</a>
                  <a class="dropdown-item" href="#" >Name</a>
                  <a class="dropdown-item" href="#" >Year/Level</a>
                  <a class="dropdown-item" href="#" >Status</a>
                </div>
              </div>
              <input type="text" id="search_bar" class="changeIfStatus form-control" placeholder="Search records..." aria-label="Search records...">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary">Search</button>
              </span>
            </div>
          </div>
          <div class="col-lg-6">
            <button type="button" class="add-button btn btn-primary float-right js-create-student" data-toggle="modal" data-target="#createStudentProfileModal">Create Student Profile</button>
              <div class="modal fade" id="createStudentProfileModal" tabindex="-1" role="dialog" aria-labelledby="#createStudentProfileModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        
                      </div>
                    </div>
                  </div>
            <a href="#" class="card-link margin float-right print"><i class="fa fa-print" aria-hidden="true"></i> Print Records</a>
          </div>
        </div>
        <div class="row table-records table-responsive" id="student_listings">
          
        </div>
      </div>
    </div>
    
<script>
  
</script>
{%endblock%}


