{% extends 'base.html' %}
{%block title%} Admin Settings {%endblock%}
{% block settings %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'settings' %}">Settings
        <span class="sr-only">(current)</span>
    </a>
</li>
{% endblock %}
{%load static%}
{% block content %}
<div class="container-fluid bg-content">
  <div class="content">
    
  </div>
</div>

<script>
$(function(){
    
    $.ajax({
        url: '{% url "enrollment-create" pk=student.student_ID%}',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            $(".content").html(data.html_form);
        }
    });
});
 $(".content").on("submit", ".enrollment-form", function() {
      var form = $(this);
      $.ajax({
          url: '{% url "enrollment-create" pk=student.student_ID%}',
          data: form.serialize(),
          type: form.attr("method"),
          dataType: 'json',
          success: function(data) {
              if (data.form_is_valid) {
                  window.location = "{% url 'student-details' student.student_ID%}"
              }
              else {
                  $(".content").html(data.html_form);
              }
          }
      });
      return false;
  });
</script>
{% endblock %}