{% extends 'base.html' %}

{%block body%}
<div class="container-fluid bg-content">
      <div class="content"> 
        <a href="student-registration-list.html"><h4><i class="fa fa-angle-left" aria-hidden="true"></i> Back to records list</h4></a>
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-8">
                    <h1 class="card-title">{{student.first_name}}</h1>
                  </div>
                  <div class="col-md-4 float-right">
                    <br/><!-- bwahaha tricks-->
                    <a href="#" class="card-link margin"><i class="fa fa-print" aria-hidden="true"></i> Print Student Profile</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 link">Student ID: <span class="text-muted">000{{student.student_ID}}</span></h6>
                    <h6 class="card-subtitle link mb-2 ">Student Level:<span class="text-muted">{{enrollment.section}}</span></h6>
                    <h6 class="card-subtitle mb-2 link">Place of Birth: <span class=" text-muted">{{student.birthplace}}</span></h6>
                    <h6 class="card-subtitle link mb-2 ">Date of Birth: <span class="text-muted">{{student.birthdate}}</span></h6>
                  </div>
                  <div class="col-md-4">
                    <h6 class="card-subtitle link mb-2 ">Sex: <span class="text-muted"> {{student.get_gender_display}}</span></h6>
                    <h6 class="card-subtitle link mb-2 ">Home Address: <span class="text-muted"> {{student.home_addr}}</span></h6>
                    <h6 class="card-subtitle link mb-2 ">Postal Address: <span class="text-muted"> {{student.postal_addr}}</span></h6>
                  </div>
                  <div class="col-md-4">
                    <h6 class="card-subtitle link mb-2 ">Father's Name: <span class="text-muted"> {{student.f_firstname}} {{student.f_middlename}} {{student.f_lastname}} </span></h6>
                    <h6 class="card-subtitle link mb-2 ">Mother's Name: <span class="text-muted"> {{student.m_firstname}} {{student.m_middlename}} {{student.m_lastname}}</span></h6>
                    <h6 class="card-subtitle link mb-2 ">Guardian's Name: <span class="text-muted"> {{student.guardian}}</span></h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="row records">
              <div class="col-md-8">
                <h2>Student Registration</h2>
              </div>
              <div class="col-md-4">
                <div class="float-right">
                  <button type="button" class="add-button btn btn-primary" data-toggle="modal" data-target="#addModal">Create Student Registration</button>
                  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="labelModal">Create Student Registration</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <!--<div class="alert alert-success success-message" role="alert">
                              Record successfully added!
                            </div>-->
                            <div class="row">
                              <div class="col-md-4">
                                <label>Student ID:</label>
                                <p class="form-control-static">0001</p><!--incremental-->
                              </div>
                              <div class="col-md-4">
                                <label>Student Name:</label>
                                <p class="form-control-static">Brown, Millie-Bobbie</p><!--incremental-->
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <label>Enrollment ID:</label>
                                <p class="form-control-static">0003</p><!--incremental-->
                              </div>
                              <div class="col-md-4">
                                <label>Student Type:</label>
                                <p class="form-control-static">Grade School</p><!--incremental-->
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label>Curriculum Year:</label><br/>
                                <select class="custom-select btn-block" required>
                                  <option selected>Choose a curriculum..</option>
                                  <option value="1">2015</option>
                                  <option value="2">2016</option>
                                  <option value="3">2017</option>
                                  <!-- Values should be from the curriculum years stored in database (ps. idk if this is curriculum ng subjects nila OR curriculum year as in school year-->
                                </select>
                              </div>
                              <div class="col-md-6">
                                <label for="enrollment-date">Date Enrolled:</label>
                                <div class="col-10 date-padding-reset">
                                  <input class="form-control" type="date" value="2018-01-01" id="enrollment-date">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label>Section:</label>
                                <select class="custom-select btn-block" required>
                                  <option selected>Choose a section...</option>
                                  <option value="1">St. Nicholas</option>
                                  <option value="2">St. O hai Mark</option>
                                  <option value="3">St. Tommy Wiseau</option>
                                  <!-- Values should be from the database SectionName -->
                                </select>
                              </div>
                            </div>
                            <h5 class="sm-headings">Scholarships </h5>
                            <div class="row">
                              <div class="col-md-4">
                                <label>Scholarship Type:</label>
                                <select class="custom-select btn-block" required>
                                  <option selected>Choose a school year..</option>
                                  <option value="1">ESC</option>
                                  <option value="2">Voucher</option>
                                  <option value="3">Others</option>
                                  <!-- Values should be from the database ScholarshipsID(?) -->
                                </select>
                              </div>
                              <div class="col-md-4">
                                <label>School Year:</label>
                                <select class="custom-select btn-block" required>
                                  <option selected>Choose a school year..</option>
                                  <option value="1">2015-2016</option>
                                  <option value="2">2016-2017</option>
                                  <option value="3">2017-2018</option>
                                  <!-- Values should be from the database SchoolYearID -->
                                </select>
                              </div>
                              <div class="col-md-4">
                                <label>Scholarship Status:</label>
                                <div class="custom-controls-stacked">
                                  <label class="custom-control custom-radio">
                                    <input id="radioActiveScholarship" name="radio-stacked" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Active</span>
                                  </label>
                                  <label class="custom-control custom-radio">
                                    <input id="radioInactiveScholarship" name="radio-stacked" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Inactive</span>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              
                              
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#confirmModal">Save Student Registration</button>
                          <div class="modal" id="confirmModal" tabindex="-1" role="dialog">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Save changes</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p>Are you sure you want to save this record?</p>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" id="saveChanges" class="btn btn-primary" data-dismiss="alert">Save changes</button>
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row table-records table-responsive">
              <table class="table table-bordered bg-nav table-hover">
                <thead class="thead-light">
                  <tr>
                    <!-- Refer to database for headings -->
                    <th scope="col">Enrollment ID</th>
                    <th scope="col">Curriculum Year</th>
                    <th scope="col">School Year</th>
                    <th scope="col">Year Level</th>
                    <th scope="col">Date Enrolled</th>
                    <th scope="col">Enrollment Status</th>
                    <th scope="col">Scholarship Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0001</td>
                    <td>2015</td>
                    <td>2018-2019</td>
                    <td>Grade 6</td>
                    <td>01-07-18</td>
                    <td>Enrolled</td><!-- If paid, tag as enrolled. Else, pending-->
                    <td><i class="fa fa-circle active-status"></i> Active</td>
                    <td class="text-center"><a href="#" class="btn btn-secondary btn-sm view-button">View</a><a href="#" class="btn btn-success btn-sm view-button">Edit</a></td>
                  </tr>
                  <tr>
                    <td>0002</td>
                    <td>2015</td>
                    <td>2017-2018</td>
                    <td>Grade 5</td>
                    <td>01-07-17</td>
                    <td>Enrolled</td>
                    <td><i class="fa fa-circle inactive-status"></i> Inactive</td>
                    <td class="text-center"><a href="#" class="btn btn-secondary btn-sm view-button">View</a><a href="#" class="btn btn-success btn-sm view-button">Edit</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
{%endblock%}