{% extends 'base.html' %}
{% block settings %}
<li class="nav-item">
  <a class="nav-link active-menu" href="{% url 'admin-settings' %}">Settings</a>
</li>
{% endblock %}

{%load static%}
{% block content %}
<!-- FORM CONTENT -->
<div class="container-fluid bg-content">
  <div class="content">
    
  </div>
</div>
<!-- Bootstrap CDN in case something glitches 
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
-->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
    
<!-- ---------------------------BACKEND SCRIPTS ------------------------------->
<script>
$(function() {
  $.ajax({
        url: '{% url "student-create" %}',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            $(".content").html(data.html_form);
        }
  });
  
  $(".content").on("submit", ".js-student-create-form", function() {
    var form = $(this);
    $.ajax({
        url: '{% url "student-create" %}',
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function(data) {
            if (data.form_is_valid) {
                window.location = "{%url 'student-list' %}"
            }
            else {
                console.log(data.form_is_valid);
                $(".content").html(data.html_form);
            }
        }
    });
    return false;
});
});


</script>
{%endblock%}