{% extends 'base.html' %}
{% block settings %}
<li class="nav-item">
  <a class="nav-link active-menu" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %}

{%load static%}
{% block content %}
<div class="container-fluid bg-content">
  <div class="content"> 
    <a href="{% url 'student-list' %}"><h4><i class="fa fa-angle-left" aria-hidden="true"></i> Back to records list</h4></a>
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-8">
                <h1 class="card-title">{{student.first_name}}</h1>
              </div>
              <div class="col-md-4 float-right">
                <br/><!-- bwahaha tricks-->
                <a href="#" class="card-link margin"><i class="fa fa-print" aria-hidden="true"></i> Print Student Profile</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <h6 class="card-subtitle mb-2 link">Student ID: <span class="text-muted">000{{student.student_ID}}</span></h6>
                <h6 class="card-subtitle link mb-2 ">Student Level:<span class="text-muted">{{student.get_student_level_display}}</span></h6>
                <h6 class="card-subtitle mb-2 link">Place of Birth: <span class=" text-muted">{{student.birthplace}}</span></h6>
                <h6 class="card-subtitle link mb-2 ">Date of Birth: <span class="text-muted">{{student.birthdate}}</span></h6>
              </div>
              <div class="col-md-4">
                <h6 class="card-subtitle link mb-2 ">Sex: <span class="text-muted"> {{student.get_gender_display}}</span></h6>
                <h6 class="card-subtitle link mb-2 ">Home Address: <span class="text-muted"> {{student.home_addr}}</span></h6>
                <h6 class="card-subtitle link mb-2 ">Postal Address: <span class="text-muted"> {{student.postal_addr}}</span></h6>
              </div>
              <div class="col-md-4">
                <h6 class="card-subtitle link mb-2 ">Father's Name: <span class="text-muted"> {{student.f_firstname}} {{student.f_middlename}} {{student.f_lastname}} </span></h6>
                <h6 class="card-subtitle link mb-2 ">Mother's Name: <span class="text-muted"> {{student.m_firstname}} {{student.m_middlename}} {{student.m_lastname}}</span></h6>
                <h6 class="card-subtitle link mb-2 ">Guardian's Name: <span class="text-muted"> {{student.guardian}}</span></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row records">
          <div class="col-md-8">
            <h2>Student Registration</h2>
          </div>
          <div class="col-md-4">
              <div class="btn-group float-right">
                <a href="{%url 'enrollment-add' student.student_ID %}" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> Create Student Registration</a>
              </div>
          </div>
        </div>
        <div class="row table-records table-responsive enrollment-table">
          
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- ---------------------------BACKEND SCRIPTS ------------------------------->

<script>
$(function(){
  $.ajax({
        url: '{% url "enrollment-table" student.student_ID %}',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            $(".enrollment-table").html(data.html_form);
        }
  });
});
</script>
{%endblock%}