{% extends 'base.html' %} {% block settings %}
<li class="nav-item active-menu">
  <a class="nav-link" href="{% url 'admin-settings' %}" style="color: #4688F1;">Settings</a>
</li>
{% endblock %} {%load static%} {% block content %}
<!-- CONTENT -->
<div class="container-fluid bg-content">
  <div class="content">
    <div class="seal"></div>
    <h2> Student Profiles </h2>
    <div class="row search-bar no-print">
      <div class="col-lg-6">
        <div class="input-group">
          <div class="input-group-btn">
            <button id="selected" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
                </button>
            <!-- Supply dropdown menu categories, refer to database -->
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">All categories</a>
              <a class="dropdown-item" href="#">Student ID</a>
              <a class="dropdown-item" href="#">Name</a>
              <a class="dropdown-item" href="#">Year/Level</a>
              <a class="dropdown-item" href="#">Status</a>
            </div>
          </div>
          <input type="text" class="changeIfStatus form-control" placeholder="Search records..." aria-label="Search records...">
          <span class="input-group-btn">
                <button type="button" class="btn btn-primary">Search</button>
              </span>
        </div>
      </div>
      <div class="col-lg-6 no-print">
        <div class="btn-group float-right">
          <a href="{%url 'student-add' %}" class="add-button btn btn-primary "><i class="fa fa-plus" aria-hidden="true"></i> Create Student Profile</a>
        </div>
        <a href="javascript:window.print()" class="card-link btn btn-outline-primary float-right print"><i class="fa fa-print" aria-hidden="true"></i> Print Records</a>
      </div>
    </div>
    <div class="row table-records table-responsive" id="student_listings">

    </div>
  </div>
</div>
<!-- CONTENT -->

<!-- Allows dropdown menu to select child -->
<script>
  $(function() {

    $(".dropdown-menu a").click(function() {

      $("#selected:first-child").text($(this).text());
      $("#selected:first-child").val($(this).text());
      if ($("#selected:first-child").val() == "Status") {
        $(".changeIfStatus").replaceWith("<h1> test </h1>"); // must change into dropdown
      }
      else {

      }

    });

  });
</script>


<!-- ---------------------------BACKEND SCRIPTS ------------------------------->
<script>
  $(function() {
    $.ajax({
      url: '{% url "student-table" %}',
      type: 'get',
      dataType: 'json',
      success: function(data) {
        $("#student_listings").html(data.html_form);
      }
    });
  });

  function generatePage(pageNum) {
    $.ajax({
      url: '{% url "student-table" %}?page=' + pageNum,
      type: 'get',
      dataType: 'json',
      success: function(data) {
        $("#student_listings").html(data.html_form);
      }
    });
  }
</script>

{%endblock%}
