{% extends 'base.html' %}
{%block title%} Student Profile {%endblock%}
{% block settings %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'settings' %}">Settings
        <span class="sr-only">(current)</span>
    </a>
</li>
{% endblock %}
{%load static%}
{% block content %}
<!-- FORM CONTENT -->
<div class="container-fluid bg-content">
  <div class="content container">
    
  </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
<script>
  var count=1;
  var add = function(){
    if(count >= 5) return;
    $('#addSibs').append('<div class="col-md-6"> <label>Sibling\'s Name</label><input type="text" class="form-control" placeholder="Last name, First name"></div><div class="col-md-6"><label>Year Graduated</label><input type="text" class="form-control" required></div>')
    count++;
  };
</script>
<script>
$(function() {
  $.ajax({
        url: '{% url "student-create" %}',
        type: 'get',
        dataType: 'json',
        success: function(data) {
            $(".content").html(data.html_form);
        }
  });
  
});
  $(".content").on("submit", ".js-student-create-form", function() {
    
    var form = $(this);
    $.ajax({
        url: '{% url "student-create" %}',
        data: form.serialize(),
        type: form.attr("method"),
        dataType: 'json',
        success: function(data) {
            if (data.form_is_valid) {
                window.location = "{%url 'student-list'%}"
            }
            else {
                console.log(data.form_is_valid);
                $(".content").html(data.html_form);
            }
        }
    });
    
    return false;
});


</script>
{%endblock%}