{% extends 'base.html' %}

{%block body%}
    <div class="container-fluid bg-content wrapper">
      <div class="content">
        <div class="content-heading margin">
          <h1> Settings </h1>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <h3 class="link"> Student Profiles</h3>
            <a href="{% url 'student-list' %}" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Student Profiles</a>
          </div>
          <div class="col-lg-4">
            <h3 class="link"> Employee Profiles</h3>
            <a href="{% url 'employee-list' %}" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Employee Profiles</a>
          </div>
        </div>
        <hr width="70%" align="left"/>
        <div class="row">
          <div class="col-lg-4">
            <h3 class="link"> Student Accounts </h3>
            <a href="student-accounts.html" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Student Accounts</a><br/>
          </div>
          <div class="col-lg-4">
            <h3 class="link"> Student Ledger </h3>
            <a href="#" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Student Ledger</a>
          </div>
        </div>
        <hr width="70%" align="left"/>
        <div class="row">
          <div class="col-lg-4">
            <h3 class="link"> Section </h3>
            <a href="{% url 'section-list' %}" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Sections </a><br/>
          </div>
          <div class="col-lg-4">
            <h3 class="link"> Scholarships </h3>
            <a href="scholarship-list.html" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Available Scholarships</a>
          </div>
        </div>
        <hr width="70%" align="left"/>
        <div class="row">
          <div class="col-lg-4">
            <h3 class="link"> Subjects </h3>
            <a href="subject-offering.html" class="grey"> <i class="fa fa-user" aria-hidden="true"></i> View Subjects</a><br/>
          </div>
        </div>
        <hr width="70%" align="left"/>
      </div>
    </div>
{%endblock%}