<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{%block title%} {%endblock%}</title>

    {# Static files #}
    {% include 'statics.html' %}
  </head>
  <body>
    <!--NAVBAR-->
    {% block nav %}
    <div class="no-print">
        <nav class="navbar navbar-light bg-faded navbar-expand-lg">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
                {% block home %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">Home
              </a>
            </li>
                {% endblock %} {% block settings %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'settings' %}">Settings</a>
            </li>
                {% endblock %} {% block reports %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'reports' %}">Reports</a>
            </li>
                {% endblock %}
          </ul>
        </div>
        <a class="user black-text" href="#">{{ user.get_username }}
          <i class="icon-user"></i>
        </a>
        <a href="{% url 'logout' %}?next={{request.path}}" class="btn btn-logout">Logout</a>
      </div>
    </nav>
  </div>
    {% endblock %}
    <!--NAVBAR-->
    <!--CONTENT-->
    <div class="container-fluid bg-content wrapper">
      <div class="content container">
          {% block content %} Error! {% endblock %}
      </div>
    </div>
    <!--CONTENT-->
    <!--FOOTER-->
    
    {% block footer %}
      
    {% endblock footer %}
      
    <!--FOOTER-->

    <!-- Bootstrap CDN in case something glitches -->
    {% include 'footer-scripts.html' %}
  </body>
</html>