{% extends 'base.html' %}

{%block body%}
<div class="container-fluid bg-content">
    <div class="content">
        <div class="content-heading">
          <h1> Welcome, Steve Harrington</h1> <!--Name of user-->
          <h4> What do you want to do today? </h4>
        </div>
        <div class="quick-links">
          <div class="row">
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-6">
                  <a href="#">
                  <button class="btn-links">
                    <i class="icon-notebook quick-links-icons"></i>
                    <h4> View Financial Records </h4>
                  </button>
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="#">
                  <button class="btn-links">
                    <i class="icon-graph quick-links-icons"></i>
                    <h4> Create Student Account </h4>
                  </button>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <a href="#">
                  <button class="btn-links">
                    <i class="icon-graph quick-links-icons"></i>
                    <h4> Create Daily Cash Report </h4>
                  </button>
                  </a>
                </div>
                <div class="col-md-6">
                  <a href="#">
                  <button class="btn-links">
                    <i class="icon-people quick-links-icons"></i>
                    <h4> View Student Ledger </h4>
                  </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{%endblock%}