{% load static %}

<!-- css files -->
<link href="{% static '01-css/bootstrap.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static '01-css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static '01-css/normalize.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static '01-css/styles.css'%}" rel="stylesheet" type="text/css" />
<link href="{% static '01-css/print.css'%}" rel="stylesheet" type="text/css" media="print">

<!-- icons -->
<link rel="stylesheet" href="{% static '04-fonts/simple-line-icons-master/css/simple-line-icons.css'%}">
<link rel="stylesheet" href="{% static '04-fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">

<!-- jquery file-->
<script src="{% static '02-javascript/jquery-3.2.1.min.js' '%}"></script>