@import "compass/css3"

//color scheme

$primary-color-light: #4285F4;
$primary-color-dark: #0052CC;
$primary-color-gray: #7A869A;
$primary-color-white: #ffffff;

$secondary-color-green: #36B37E;
$secondary-color-red: #DE350A;
$secondary-color-yellow: #FFAB00;

$bg-color-nav: #FFFFFF;
$bg-color-body: #F8FAFF;

//fonts
$font-stack: Helvetica, sans-serif;
$font-size-h1: 29px;
